<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusConnect | Dashboard</title>
    <link href="../Styles/dashboard.css" rel="stylesheet">
</head>

<body>
    <div class="sidebar">
        <div><img src="../images/LOGO.png" class="logo" alt="logo"></div>
        <div class="navbar">
            <a href="../Views/dashboard.html">Dashboard</a>
            <a href="../Views/events.html">Events</a>
            <a href="../Views/clubs.html">Clubs & Societies</a>
            <a href="../Views/notices.html">Notices</a>
            <a href="../Views/opportunities.html">Opportunities</a>
            <a href="../Views/resources.html">Resources</a>
            <a href="../Views/profile.html">Profile</a>
            <a href="../Views/login.html">Logout</a>
        </div>
    </div>
    <div class="dashboard-section">
        <input type="search" placeholder="Search Email,Clubs,Resources etc" id="search" name="search">
        <img src="../images/profile.png" alt="profile"><span>SHUBBU HUSAIN</span>
        <h3>Welcome Back Shubbu</h3>
        <p>Here's whats happening in the campus</p>

        <div class="current-status">
            <div class="card">
                <img src="../images/events.png" alt="">
                <h3>Events</h3>
                <p>3 Events Registered</p>
            </div>
            <div class="card">
                <img src="../images/clubs.png" alt="">
                <h3>Clubs & Societies</h3>
                <p>5 Clubs joined</p>
            </div>
            <div class="card">
                <img src="../images/opportunities.png" alt="">
                <h3>Opportunities</h3>
                <p>3 Internships applied</p>
            </div>
            <div class="card">
                <img src="../images/notices.png" alt="">
                <h3>Notices</h3>
                <p>15 New Notices</p>
            </div>
            <div class="card">
                <img src="../images/resources.png" alt="">
                <h3>Resources</h3>
                <p>12 Resources Downloaded</p>
            </div>
        </div>
        <div class="upcoming-events">
            <h5>UPCOMING EVENTS</h5>
            <div class="event">
                <h4>TechFest</h4>
                <p>Date: 2024-12-25</p>
                <p>Time: 10:00 AM</p>
                <p>Venue: Main Auditorium</p>
                <p>Club: Enigma- The IT Club</p>
                <button>Register</button>
            </div>
            <div class="event">
                <h4>CodeRush</h4>
                <p>Date: 2024-12-25</p>
                <p>Time: 10:00 AM</p>
                <p>Venue: Main Auditorium</p>
                <p>Club: Enigma- The IT Club</p>
                <button>Register</button>
            </div>
            <div class="event">
                <h4>TechFest</h4>
                <p>Date: 2024-12-25</p>
                <p>Time: 10:00 AM</p>
                <p>Venue: Main Auditorium</p>
                <p>Club: Enigma- The IT Club</p>
                <button>Register</button>
            </div>
            <div class="event">
                <h4>CodeRush</h4>
                <p>Date: 2024-12-25</p>
                <p>Time: 10:00 AM</p>
                <p>Venue: Main Auditorium</p>
                <p>Club: Enigma- The IT Club</p>
                <button>Register</button>
            </div>
        </div>
        <div class="recommended-clubs">
            <div class="club">
                E-CELL
            </div>
            <div class="club">
                NSS
            </div>
            <div class="club">
                ROTORACT
            </div>
            <div class="club">
                PANACHE
            </div>
            <div class="club">
                SWARA
            </div>
            <div class="club">
                FITOOR
            </div>
        </div>
        <div class="important-notices">
            <li>EXAMINATION NOTICE</li>
            <li>CULTURAL FEST</li>
            <li>SPORTS QUOTA ADMISSIONS</li>
            <li>ACADEMIC CALENDAR</li>
        </div>
    </div>
</body>

</html>