<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusConnect | Dashboard</title>
    <link href="../Styles/events.css" rel="stylesheet">
</head>

<body>
    <div class="sidebar">
        <div><img src="../images/LOGO.png" class="logo" alt="logo"></div>
        <div class="navbar">
            <a href="">Dashboard</a>
            <a href="">Events</a>
            <a href="">Clubs & Societies</a>
            <a href="">Notices</a>
            <a href="">Opportunities</a>
            <a href="">Resources</a>
            <a href="">Profile</a>
            <a href="">Logout</a>
        </div>
    </div>
</body>

</html>