<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusConnect|Login</title>
    <link rel="stylesheet" href="../Styles/login.css">
</head>

<body>
    <div class="leftSideImage">
        <img src="../images//SIDEIMAGE.jfif">
    </div>
    <h2>Welcome Back</h2>
    <p>Login to your account to get started</p>
    <form onsubmit="redirecting()" action="../Views/dashboard.html">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <button class="signup" onclick="registerpage()">Sign Up</button></p>
</body>
<script>
    function registerpage() {
        window.location.href = "register.html";
    }
    function redirecting() {
        window.location.href = "dashboard.html";
    }
</script>

</html>